---
const { project } = Astro.props;
---

<div id={project.id} class="modal fadein">
  <div class={`modal-content ${project.modalContent.type === "iframe" ? "overflow-hidden" : ""}`}>
    <span class="close">
      <i class="fa-regular fa-circle-xmark text-gray-600"></i>
    </span>
    <div style="display: flex;">
      <h1 class="py-4 text-center">{project.title}</h1>
      {project.links?.site && (
        <a href={project.links.site} target="_blank">
          <i class="fa-solid fa-arrow-up-right-from-square m-2"></i>
        </a>
      )}
      {project.links?.github && (
        <a href={project.links.github} target="_blank">
          <i class="fa-brands fa-github m-2"></i>
        </a>
      )}
      {project.links?.codepen && (
        <a href={project.links.codepen} target="_blank">
          <i class="fa-brands fa-codepen m-2"></i>
        </a>
      )}
    </div>
    
    <p class="py-0 text-center">{project.description}</p>
    
    {project.modalContent.type === "iframe" && (
      <iframe src={project.modalContent.src} frameborder="0"></iframe>
    )}
    {project.modalContent.type === "image" && (
      <a href={project.links?.site} target="_blank">
        <img src={project.modalContent.src.src} alt={project.title} />
      </a>
    )}
    {project.modalContent.type === "video" && (
      <a href={project.links?.site} target="_blank">
        <video autoplay loop muted src={project.modalContent.src}></video>
      </a>
    )}
    {project.modalContent.type === "responsiveFrame" && (
      typeof window !== "undefined" && window.innerWidth < 1024 
        ? <img src={project.modalContent.fallbackImage.src} alt={project.title} />
        : <iframe src={project.modalContent.src} style="border:none; max-width: 560px;"></iframe>
    )}
  </div>
</div>
