---
import p1 from "../assets/images/bonsaiworld.jpg";
import p2 from "../assets/images/blome.jpg";
import p3 from "../assets/images/p3.png";
import p4 from "../assets/images/p4.png";
import p5 from "../assets/images/p5.png";
import p6 from "../assets/images/p6.png";
import p7 from "../assets/images/p7.gif";
import p8 from "../assets/images/p8.png";
import p9 from "../assets/images/p9.png";
---

<section class="wrapperr h-[auto] md:h-[90hv] ">
  <h1
    class="text-center mt-4 p-8 text-3xl text-gray-600 font-[mono] offscreen hover:tracking-[1vw]"
  >
    Projects<span class="animate-ping">_</span>
  </h1>
  <div
    class="container lg:gap-12 md:gap-8 gap-4 flex items-center content-center"
  >
    <div
      class="box flex items-center content-center sm:max-w-[50%] offscreen"
      data-modal-target="myModal1"
      id="projects"
    >
      <figcaption>
        <img src={p1.src} alt="" />
        <div class="caption flex flex-col items-center text-sm md:text-base">
          <h1 class="py-0 text-center">Bonsaiworld</h1>
          <p>
            a Small layout example within the orientational DCI corse, where i
            was able to express my love for the bonsai art.
          </p>
          <i class="fa-solid fa-magnifying-glass-plus animate-pulse"></i>
        </div>
      </figcaption>
    </div>

    <div
      class="box flex items-center content-center sm:max-w-[50%] offscreen"
      data-modal-target="myModal3"
    >
      <figcaption>
        <img src={p3.src} alt="" />
        <div class="caption flex flex-col items-center text-sm md:text-base">
          <h1 class="py-0 text-center">Layout example</h1>
          <p>A small layout example within the DCI corse.</p>
          <i class="fa-solid fa-magnifying-glass-plus animate-pulse"></i>
        </div>
      </figcaption>
    </div>
    <div
      class="box flex items-center content-center sm:max-w-[50%] offscreen"
      data-modal-target="myModal4"
    >
      <figcaption>
        <img src={p4.src} alt="" />
        <div class="caption flex flex-col items-center text-sm md:text-base">
          <h1 class="py-0 text-center">Marketing Campagne</h1>
          <p>
            A small layout example for a marketing campagne refered to the
            Bonasiworld
          </p>
          <i class="fa-solid fa-magnifying-glass-plus animate-pulse"></i>
        </div>
      </figcaption>
    </div>
    <div
      class="box flex items-center content-center sm:max-w-[50%] offscreen"
      data-modal-target="myModal2"
    >
      <figcaption>
        <img src={p2.src} alt="" />
        <div class="caption flex flex-col items-center text-sm md:text-base">
          <h1 class="py-0 text-center">Firma Blome</h1>
          <p>
            A small web project for our family business at the time, created
            with WIX without significant prior knowledge.
          </p>
          <i class="fa-solid fa-magnifying-glass-plus animate-pulse"></i>
        </div>
      </figcaption>
    </div>
    <div
      class="box flex items-center content-center sm:max-w-[50%] offscreen"
      data-modal-target="myModal5"
    >
      <figcaption>
        <img src={p5.src} alt="" />
        <div class="caption flex flex-col items-center text-sm md:text-base">
          <h1 class="py-0 text-center">Industrieboden Meyer</h1>
          <p>A webproject i have translated from Typo3 into an Astro Project</p>
          <i class="fa-solid fa-magnifying-glass-plus animate-pulse"></i>
        </div>
      </figcaption>
    </div>
    <div
      class="box flex items-center content-center sm:max-w-[50%] offscreen"
      data-modal-target="myModal6"
    >
      <figcaption>
        <img src={p6.src} alt="" />
        <div class="caption flex flex-col items-center text-sm md:text-base">
          <h1 class="py-0 text-center">Donut Shop</h1>
          <p>A small layout example within the DCI corse.</p>
          <i class="fa-solid fa-magnifying-glass-plus animate-pulse"></i>
        </div>
      </figcaption>
    </div>
    <div
      class="box flex items-center content-center sm:max-w-[50%] offscreen"
      data-modal-target="myModal7"
    >
      <figcaption>
        <img src={p7.src} alt="" />
        <div class="caption flex flex-col items-center text-sm md:text-base">
          <h1 class="py-0 text-center">Starfield canvas</h1>
          <p>A small canvas excurse witch let to this</p>
          <i class="fa-solid fa-magnifying-glass-plus animate-pulse"></i>
        </div>
      </figcaption>
    </div>
    <div
      class="box flex items-center content-center sm:max-w-[50%] offscreen"
      data-modal-target="myModal8"
    >
      <figcaption>
        <img src={p8.src} alt="" />
        <div class="caption flex flex-col items-center text-sm md:text-base">
          <h1 class="py-0 text-center">Starfieldclash</h1>
          <p>A small canvas excurse witch let to this Game</p>
          <i class="fa-solid fa-magnifying-glass-plus animate-pulse"></i>
        </div>
      </figcaption>
    </div>
    <div
      class="box flex items-center content-center sm:max-w-[50%] offscreen"
      data-modal-target="myModal9"
    >
      <figcaption>
        <img src={p9.src} alt="" />
        <div class="caption flex flex-col items-center text-sm md:text-base">
          <h1 class="py-0 text-center">Zombiland</h1>
          <p>A canvas Game to become more comfortable with JavaScript</p>
          <i class="fa-solid fa-magnifying-glass-plus animate-pulse"></i>
        </div>
      </figcaption>
    </div>

    <!-- Füge weitere Modals hinzu -->
  </div>
  <!-- 
  








-->
  <!-- Modals -->
  <div id="myModal1" class="modal fadein">
    <div class="modal-content">
      <span class="close"
        ><i class="fa-regular fa-circle-xmark text-gray-600"></i></span
      >
      <h1 class="py-4 text-center">Bonsaiworld</h1>
      <p class="py-0 text-center">
        A small web project the orientational DCI corse, where i was able to
        express my love for the bonsai art.
      </p>
      <iframe src="https://bonsaiworld.netlify.app/"></iframe>
    </div>
  </div>
  <div id="myModal2" class="modal fadein">
    <div class="modal-content">
      <span class="close"
        ><i class="fa-regular fa-circle-xmark text-gray-600"></i></span
      >
      <h1 class="py-4 text-center">Firma Blome</h1>
      <p>
        A small web project for our family business at the time, created with
        WIX without significant prior knowledge.
      </p>
      <a href="https://k0mikerhdf.wixsite.com/blome"
        ><img src={p2.src} alt="" /></a
      >
    </div>
  </div>
  <div id="myModal3" class="modal fadein">
    <div class="modal-content">
      <span class="close"
        ><i class="fa-regular fa-circle-xmark text-gray-600"></i></span
      >
      <h1 class="py-4 text-center">Layout example</h1>
      <p>A small layout example within the DCI corse.</p>
      <iframe src="/embeded/MyComponent"></iframe>
    </div>
  </div>
  <div id="myModal4" class="modal fadein">
    <div class="modal-content">
      <span class="close"
        ><i class="fa-regular fa-circle-xmark text-gray-600"></i></span
      >
      <h1 class="py-4 text-center">Marketing Kampagne</h1>
      <p>
        A small layout example for a marketing campagne refered to the
        Bonasiworld
      </p>

      <a
        class="p-8"
        href="https://www.canva.com/design/DAGBc48w39w/bc-CJ_qwSN3KxtlTtbQlmg/view?utm_content=DAGBc48w39w&utm_campaign=designshare&utm_medium=link&utm_source=editor"
        target="_blank"
      >
        <img src={p4.src} alt="" />
      </a>
    </div>
  </div>
  <div id="myModal5" class="modal fadein">
    <div class="modal-content">
      <span class="close"
        ><i class="fa-regular fa-circle-xmark text-gray-600"></i></span
      >
      <h1 class="py-4 text-center">Freelancing</h1>
      <p>
        I translated a website from Typo3 to Astro and am now responsible for
        its ongoing maintenance.
      </p>
      <a href="https://www.industriebodenplanung.com/" target="_blank">
        <img src={p5.src} alt="" />
      </a>
    </div>
  </div>
  <div id="myModal6" class="modal fadein">
    <div class="modal-content">
      <span class="close"
        ><i class="fa-regular fa-circle-xmark text-gray-600"></i></span
      >
      <h1 class="py-4 text-center">Layout example</h1>
      <p>a Small layout example within the DCI corse.</p>
      <img src={p6.src} alt="" />
    </div>
  </div>
  <div id="myModal7" class="modal fadein">
    <div class="modal-content">
      <span class="close"
        ><i class="fa-regular fa-circle-xmark text-gray-600"></i></span
      >
      <h1 class="py-4 text-center">Starfield canvas</h1>
      <p>
        A small canvas excurse witch let to this hypnotizing animation, use Key
        W, and S to accelerate and decelerate. and press num+ to increase the
        number of stars.
      </p>
      <a href="https://starfield-cb.netlify.app/" target="_blank"
        ><img src={p7.src} alt="" /></a
      >
      <a href="https://codepen.io/k0miker/pen/wvLoevE" target="_blank"
        >Codepen.io</a
      >
    </div>
  </div>
  <div id="myModal8" class="modal fadein">
    <div class="modal-content">
      <span class="close"
        ><i class="fa-regular fa-circle-xmark text-gray-600"></i></span
      >
      <h1 class="py-4 text-center">Starfieldclash Game</h1>
      <p>A small canvas excurse witch let to this game :)</p>
      <a href="https://k0miker.github.io/starfieldclash/" target="_blank"
        ><img src={p8.src} alt="" /></a
      >
    </div>
  </div>
  <div id="myModal9" class="modal fadein">
    <div class="modal-content">
      <span class="close"
        ><i class="fa-regular fa-circle-xmark text-gray-600"></i></span
      >
      <h1 class="py-4 text-center">Zombi-Island</h1>
      <p>A canvas game to further improve JS-Skills</p>
      <a href="https://zombi-island.netlify.app/" target="_blank"
        ><img src={p9.src} alt="" /></a
      >
    </div>
  </div>

  <!-- weitere Modals -->
</section>

<style>
  .wrapperr {
    background-color: rgba(255, 255, 255, 0.829);
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #myModal3 {
    width: 100%;
    max-width: 1260px;
    .modal-content {
      width: 100%;
    }
  }
  .modal {
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
    min-width: 60vw;
    padding: 1vw;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.685);
    transition: 5s;
    img {
      margin-top: 1vh;
      /*width: 60%;*/
      max-width: 480px;
      object-fit: cover;
    }
  }
  .caption {
    justify-content: center;
    cursor: pointer;
    h1,
    p,
    i {
      flex-grow: 1;
    }
    i {
      font-size: x-large;
    }
    i:hover {
      color: tomato;
    }
  }
  figcaption {
    cursor: pointer;

    h1 {
      font-family: mono;
      font-size: x-large;
    }
  }

  iframe {
    width: 100%;
    height: 70vh;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.527);
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    padding-bottom: 80px;
    cursor: pointer;

    .box {
      position: relative;
      background-color: rgba(0, 0, 0, 0);
      width: 34%;
      box-shadow: 2px 2px 4px 2px #888;
      max-width: 380px;
      border-radius: 15px;
      overflow: hidden;
      flex-grow: 1;
      img {
        object-fit: contain;
      }
    }
  }
  .modal-content {
    background-color: #fefefe;
    margin: auto auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 1460px;
    max-height: 600px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-family: mono;
      font-size: 28px;
    }
    p {
      text-align: center;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    a img:hover {
      scale: 1.05;
      transform: translateY(10px);
    }
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  img {
    max-height: 400px;
    object-fit: cover;
    border-radius: 15px;
    transition: 1s;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  .box:hover img {
    scale: 2.505;
    cursor: pointer;
  }

  .box .caption {
    transition: 0.5s;
    opacity: 0;
    padding: 10%;
    border-radius: 15px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
  .box:hover .caption {
    transition: 0.5s;
    cursor: pointer;
    opacity: 1;
    color: white;
    border-radius: 15px;
    background-color: #000000dd;
    h1 {
      color: #ff6347;
      font-size: 26px;
    }
    i {
      margin-top: 10px;
      transition: 1s;
      scale: 1.2;
      color: tomato;
    }
  }
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      .box {
        width: 100%;
        margin-bottom: 20px;
      }
    }
    .modal-content {
      width: 100%;
    }
    .modal{
      width: 100%;
    }
    
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Hole alle Boxen, die ein Modal öffnen sollen
    let modalTriggers = document.querySelectorAll(".box[data-modal-target]");

    // Gehe durch jede Box und füge einen Klick-Event-Listener hinzu
    modalTriggers.forEach(function (trigger) {
      trigger.addEventListener("click", function () {
        let modalId = trigger.getAttribute("data-modal-target");
        let modal = document.getElementById(modalId) as HTMLElement;

        // Öffne das entsprechende Modal
        if (modal) {
          modal.style.display = "flex";
        }
      });
    });

    // Hole alle Schließen-Icons
    let closeIcons = document.querySelectorAll(".modal .close");

    // Gehe durch jedes Schließen-Icon und füge einen Klick-Event-Listener hinzu
    closeIcons.forEach(function (icon) {
      icon.addEventListener("click", function () {
        let modal = icon.closest(".modal");
        if (modal) {
          (modal as HTMLElement).style.display = "none";
        }
      });
    });

    // Schließe das Modal, wenn außerhalb des Modals geklickt wird
    window.addEventListener("click", function (event) {
      const targetElement = event.target as Element;
      if (targetElement.classList.contains("modal")) {
        (targetElement as HTMLElement).style.display = "none";
      }
    });
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Hole alle Boxen, die ein Modal öffnen sollen
    let modalTriggers = document.querySelectorAll(".box[data-modal-target]");

    // Gehe durch jede Box und füge einen Klick-Event-Listener hinzu
    modalTriggers.forEach(function (trigger) {
      trigger.addEventListener("click", function () {
        let modalId = trigger.getAttribute("data-modal-target");
        let modal = document.getElementById(modalId) as HTMLElement;

        // Öffne das entsprechende Modal
        if (modal) {
          modal.style.display = "flex";
          // Warte einen Moment, damit das Modal sichtbar wird, bevor gescrollt wird
          setTimeout(() => {
            modal.scrollIntoView({ behavior: "smooth", block: "center" });
          }, 100);
        }
      });
    });
    let closeIcons = document.querySelectorAll(".modal .close");
    closeIcons.forEach(function (icon) {
      icon.addEventListener("click", function () {
        let modal = icon.closest(".modal");
        if (modal) {
          (modal as HTMLElement).style.display = "none";
        }
      });
    });

    window.addEventListener("click", function (event) {
      const targetElement = event.target as Element;
      if (targetElement.classList.contains("modal")) {
        (targetElement as HTMLElement).style.display = "none";
      }
    });
  });
</script>
