---
import p1 from "../assets/images/bonsaiworld.jpg";
import p2 from "../assets/images/blome.jpg";
import p3 from "../assets/images/p3.png";
import p4 from "../assets/images/p4.png";
import p5 from "../assets/images/p5.png";
import p6 from "../assets/images/p6.png";
---

<section class="wrapperr offscreen">
  <h1 class="text-center mt-4 p-8 text-3xl font-bold text-gray-600 font-[mono] offscreen">
    Projects<span class="animate-ping">_</span>
  </h1>
  <div class="container md:gap-4 flex items-center content-center ">
    <div
      class="box flex items-center content-center flex-grow sm:max-w-[50%] offscreen"
      data-modal-target="myModal1"
      id="projects"
    >
      <figcaption>
        <img src={p1.src} alt="" />
        <div class="caption flex flex-col items-center">
          <h1 class="py-4 text-center">Bonsaiworld</h1>
          <p>
            a Small layout example within the orientational DCI corse, where i was able to express my love for the bonsai art. 
          </p>
          <i class="fa-solid fa-magnifying-glass-plus animate-pulse"></i>
        </div>
      </figcaption>
    </div>

    <div
      class="box flex items-center content-center flex-grow sm:max-w-[50%] offscreen"
      data-modal-target="myModal3"
    >
      <figcaption>
        <img src={p3.src} alt="" />
        <div class="caption flex flex-col items-center">
          <h1 class="py-4 text-center">Layout beispiel</h1>
          <p>Ein Kleines layout im Rahmen des DCI Kurses.</p>
          <i class="fa-solid fa-magnifying-glass-plus animate-pulse"></i>
        </div>
      </figcaption>
    </div>
    <div
      class="box flex items-center content-center flex-grow sm:max-w-[50%] offscreen"
      data-modal-target="myModal4"
    >
      <figcaption>
        <img src={p4.src} alt="" />
        <div class="caption flex flex-col items-center">
          <h1 class="py-4 text-center">Marketing Campagne</h1>
          <p>A small layout example for a marketing campagne refered to the Bonasiworld</p>
          <i class="fa-solid fa-magnifying-glass-plus animate-pulse"></i>
        </div>
      </figcaption>
    </div>
    <div
      class="box flex items-center content-center flex-grow sm:max-w-[50%] offscreen"
      data-modal-target="myModal2"
    >
      <figcaption>
        <img src={p2.src} alt="" />
        <div class="caption flex flex-col items-center">
          <h1 class="py-4 text-center">Frima Blome</h1>
          <p>A small web project for our family business at the time, created with WIX without significant prior knowledge.</p>
          <i class="fa-solid fa-magnifying-glass-plus animate-pulse"></i>
        </div>
      </figcaption>
    </div>
    <div
      class="box flex items-center content-center flex-grow sm:max-w-[50%] offscreen"
      data-modal-target="myModal5"
    >
      <figcaption>
        <img src={p5.src} alt="" />
        <div class="caption flex flex-col items-center">
          <h1 class="py-4 text-center">Coffee Shop</h1>
          <p>A small layout example within the DCI corse.</p>
          <i class="fa-solid fa-magnifying-glass-plus animate-pulse"></i>
        </div>
      </figcaption>
    </div>
    <div
      class="box flex items-center content-center flex-grow sm:max-w-[50%] offscreen"
      data-modal-target="myModal6"
    >
      <figcaption>
        <img src={p6.src} alt="" />
        <div class="caption flex flex-col items-center">
          <h1 class="py-4 text-center">Donut Shop</h1>
          <p>A small layout example within the DCI corse.</p>
          <i class="fa-solid fa-magnifying-glass-plus animate-pulse"></i>
        </div>
      </figcaption>
    </div>
    <!-- Füge hier weitere <div> Elemente für weitere Modals hinzu -->
  </div>

  <!-- Modals -->
  <div id="myModal1" class="modal fadein">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h1 class="py-4 text-center">Bonsaiworld</h1>
      <p class="py-4 text-center">
        A small web project the orientational DCI corse, where i was able to express my love for the bonsai art. 
      </p>
      <iframe src="https://bonsaiworld.netlify.app/"></iframe>
    </div>
  </div>
  <div id="myModal2" class="modal fadein">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h1 class="py-4 text-center"></h1>
      <p>A small web project for our family business at the time, created with WIX without significant prior knowledge.</p>
      <a href="https://k0mikerhdf.wixsite.com/blome"></a><img
        src={p2.src}
        alt=""
      />
    </div>
  </div>
  <div id="myModal3" class="modal fadein">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h1 class="py-4 text-center">Layout beispiel</h1>
      <p>A small layout example within the DCI corse.</p>
      <iframe src="/embeded/MyComponent"></iframe>
    </div>
  </div>
  <div id="myModal4" class="modal fadein">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h1 class="py-4 text-center">Marketing Kampagne</h1>
      <p>A small layout example for a marketing campagne refered to the Bonasiworld</p>

      <a
        class="p-8"
        href="https://www.canva.com/design/DAGBc48w39w/bc-CJ_qwSN3KxtlTtbQlmg/view?utm_content=DAGBc48w39w&utm_campaign=designshare&utm_medium=link&utm_source=editor"
        target="_blank"
      >
        <img src={p4.src} alt="" /></a
      >
    </div>
  </div>
  <div id="myModal5" class="modal fadein">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h1 class="py-4 text-center">Layout beispiel</h1>
      <p>a Small layout example within the DCI corse.</p>
      <img src={p5.src} alt="" />
    </div>
  </div>
  <div id="myModal6" class="modal fadein">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h1 class="py-4 text-center">Layout beispiel</h1>
      <p>a Small layout example within the DCI corse.</p>
      <img src={p6.src} alt="" />
    </div>
  </div>

  <!-- Füge hier weitere Modals hinzu -->
</section>

<style>
  .wrapperr {
    background-color: rgba(255, 255, 255, 0.829);
    margin-top: 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .modal {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 0;
    width: 90%;
    padding: 1vw;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.685);
    transition: 5s;
    img {
      width: 30%;
    }
  }
  .caption {
    justify-content: center;
    h1,
    p,
    i {
      flex-grow: 1;
    }
    i {
      font-size: x-large;
    }
    i:hover {
      color: tomato;
    }
  }
  figcaption {
  }
  figcaption h1 {
    font-family: mono;
    font-size: x-large;
  }
  iframe {
    width: 100%;
    height: 80vh;
  }
  .container {
    display: flex;

    background-color: rgba(255, 255, 255, 0.527);

    margin-left: auto;
    margin-right: auto;

    padding: 15px;
    padding-bottom: 50px;
    align-content: stretch;
    justify-content: center;
    flex-wrap: wrap;

    .box {
      position: relative;
      background-color: rgba(0, 0, 0, 0);
      margin: 10px;
      width: 30%;
      box-shadow: 2px 2px 4px 2px #888;
      max-width: 380px;
      border-radius: 15px;
      overflow: hidden;
    }
    img {
      max-height: 400px;
      aspect-ratio: 1.3;
    }
    .box:hover img {
      scale: 2.505;
      cursor: pointer;
    }

    .box .caption {
      transition: 0.5s;
      opacity: 0;
      padding: 55px;
      border-radius: 15px;
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
    }
    .box:hover .caption {
      transition: 0.5s;
      cursor: url(https://www.svgrepo.com/show/527678/cursor.svg), auto;
      opacity: 1;
      color: white;
      border-radius: 15px;
      background-color: #000000dd;
      h1 {
        color: #ff6347;
        font-size: 26px;
      }
      i {
        margin-top: 50px;
        transition: 1s;
        scale: 2;
        color: tomato;
      }
    }
  }

  img {
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 15px;
    transition: 1s;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  .modal-content {
    background-color: #fefefe;
    margin: auto auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 1460px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-family: mono;
      font-size: 28px;
    }
    p {
      text-align: center;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    a img:hover {
      scale: 1.1;
    }
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Hole alle Boxen, die ein Modal öffnen sollen
    var modalTriggers = document.querySelectorAll(".box[data-modal-target]");

    // Gehe durch jede Box und füge einen Klick-Event-Listener hinzu
    modalTriggers.forEach(function (trigger) {
      trigger.addEventListener("click", function () {
        var modalId = trigger.getAttribute("data-modal-target");
        var modal = document.getElementById(modalId);

        // Öffne das entsprechende Modal
        if (modal) {
          modal.style.display = "flex";
        }
      });
    });

    // Hole alle Schließen-Icons
    var closeIcons = document.querySelectorAll(".modal .close");

    // Gehe durch jedes Schließen-Icon und füge einen Klick-Event-Listener hinzu
    closeIcons.forEach(function (icon) {
      icon.addEventListener("click", function () {
        var modal = icon.closest(".modal");
        if (modal) {
          modal.style.display = "none";
        }
      });
    });

    // Schließe das Modal, wenn außerhalb des Modals geklickt wird
    window.addEventListener("click", function (event) {
      if (event.target.classList.contains("modal")) {
        event.target.style.display = "none";
      }
    });
  });
</script>
